
[
  {emqttd_kafka_bridge, [{values, [
      {bootstrap_broker, [{"172.19.3.186", 9092}] },
      {client_config, [
        {auto_start_producers, true},
        {allow_topic_auto_creation, true},
        {query_api_versions,false},
        {reconnect_cool_down_seconds, 10}
      ]},
      {kafka_producer_topic, [
          {device, <<"saas_device_downstream">>},
          {client, <<"saas_client_downstream">>},
          {paas, <<"paas_sqdata_upstream">>}
      ]},
      {kafka_producer_partitions, 10}
    ]}]}
].